// Base colors for WiDS Pune 2019 theme used site-wide as per style guide.

$basetextcolor: #00b140;     // For body background.
$lightcolor: #fff;     // For body background.
$footercolor: #eee;     // For body background.
