// Base colors for WiDS Pune 2019 theme used site-wide as per style guide.

$basetextcolor: #00b140;     // For body background.
$lightcolor: #fff;     // For body background.
$darktextcolor: #3e3e3e;     // For body background.
$footercolor: #eee;     // For body background.
$quotecolor: rgba(238, 238, 238, 0.8); // For quotes in testimonials

$boxshadow: rgba(40, 40, 40, 0.5); // For box shadow