{%
  set classes = [
  'field',
  'field--items',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
]
%}

{% set col = 'wids-one-vid' %}
{% set custom_style = "" %}
{% if items|length > 1 %}
  {% set col = 'col-sm-6' %}
  {% set custom_style = '' %}
{% endif %}

{%
  set field_classes = [
  'field--item',
  'box-shadow',
]
%}

<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    <div{{ item.attributes.addClass(field_classes, col).setAttribute('style', custom_style) }}>
      <div class="video-info">
        {{ item.content }}
      </div>
    </div>
  {% endfor %}
</div>
