.header-banner-wrapper {
  font-family: 'News Cycle';
  vertical-align: middle;
  height: auto;
  background-size: cover;
  .header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0px;
    color: $lightcolor;
    text-align: center;
    background-color: #00000069;
    background-clip: content-box;
    h3 {
      font-size: 60px;
    }
    .field--name-body {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }
}