.block-six-column-para {
  .field--name-field-column-content {
    margin-top: 25px;
    .paragraph--view-mode--six-column-display {
      .field {
        text-align: center;
        img {
          width: 70px;
          height: auto;
          margin: 0 auto;
        }
      }
    }
  }
}