.block--three-column-display {
  max-width: $default-max-width;
  margin: 0 auto;
  h2.block-title {
    color: $basetextcolor;
    font-size: 72px;
    text-align: left;
  }
  .field {
    //display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    .field--item {
      //flex-basis: 23%;
      margin-bottom: 20px;
      .paragraph {
        //display: flex;
        //flex-direction: column;
        height: 100%;
        .field {
          //flex: 1;
        }
        .field--name-field-title {
          font-size: 20px;
        }
        .field--name-field-content-image img{
          margin: 0 auto;
        }
        .field--name-field-second-title {
          color: $basetextcolor;
          font-size: 22px;
          font-family: 'News Cycle';
          font-style: normal;
          font-weight: 700;
          letter-spacing: 1px;
          margin: 20px 0;
        }
        .field--name-field-description {
          margin-bottom: 15px;
        }
        .field--name-field-content-link {
          max-height: 58px;
          a {
            background-color: $basetextcolor;
            border: 1px solid $basetextcolor;
            padding: 14px 30px;
            color: $lightcolor;
            //display: inline-table;
          }
        }
      }
    }
  }
}
