.vision_philosophy_outer {
  margin-top: 40px;
  .widspune_vision {
    //display: inline-block;
    //margin-right: 50px;
    h2 {
      //text-align: right;
      text-align: center;
    }
    .vision_info {
      clear: both;

      div {
        display: inline-block;
        vertical-align: middle;
      }
      .vision_img {
        width: 70px;
        height: 70px;
        background-size: cover;
        font-size: 0;
        margin: 10px 0;
      }
      .vision_text {
        padding: 25px;
        font-size: 20px;
        color: $basetextcolor;
      }
      .img1 {
        background-image: url(../images/about_icons/vision_1.png);
      }
      .img2 {
        background-image: url(../images/about_icons/vision_2.png);
      }
      .img3 {
        background-image: url(../images/about_icons/vision_3.png);
      }
      .img4 {
        background-image: url(../images/about_icons/vision_4.png);
      }
      .img5 {
        background-image: url(../images/about_icons/vision_5.png);
      }
      .img6 {
        background-image: url(../images/about_icons/vision_6.png);
      }
      .img7 {
        background-image: url(../images/about_icons/vision_7.png);
      }
    }
  }

  .widspune_philosophy {
    h2 {
      text-align: center;
    }
    .philosophy_info {
      clear: both;
      div {
        display: inline-block;
        vertical-align: middle;
      }
      .philosophy_img {
        width: 70px;
        height: 70px;
        background-size: cover;
        font-size: 0;
        margin: 10px 0;
      }
      .philosophy_text {
        padding: 25px;
        font-size: 20px;
        color: $basetextcolor;
      }
      .img1 {
        background-image: url(../images/about_icons/philosophy_1.png);
      }
      .img2 {
        background-image: url(../images/about_icons/philosophy_2.png);
      }
      .img3 {
        background-image: url(../images/about_icons/philosophy_3.png);
      }
      .img4 {
        background-image: url(../images/about_icons/philosophy_4.png);
      }
      .img5 {
        background-image: url(../images/about_icons/philosophy_5.png);
      }
      .img6 {
        background-image: url(../images/about_icons/philosophy_6.png);
      }
      .img7 {
        background-image: url(../images/about_icons/philosophy_7.png);
      }
    }
  }
}

.content_bottom {
  h2.block-title {
    color: $darktextcolor;
    text-align: center;
    font-size: 30px;
  }
}
