// Base typography for WiDS Pune 2019 theme used site-wide as per style guide.
body {
  font-family: 'Actor';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
}
h1, h2, h3, h4, h5 {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  color: $basetextcolor;
}

a, a:hover, a:focus, a:active {
  color: $basetextcolor;
  text-decoration: none;
}

.container-fluid {
  //max-width: 1300px;
}

.navbar {
  margin-bottom: 0;
  border: none;
  background-color: transparent;
  max-width: $default-max-width;
  .navbar-collapse {
    width: 100%;
    padding: 0;
    .region-navigation-collapsible {
      nav {
        float: right;
        padding: 25px 0px;
        ul {
          li {
            a {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 700;
              padding: 15px 20px;
              font-size: 13px;
              text-transform: uppercase;
              line-height: 1;
              letter-spacing: 0.05em;
            }
          }
        }
      }
    }
  }
}

.main-container {
}

.content_bottom {}

.footer {
  background-color: $footercolor;
  .footer-section {
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    .contextual-region {
      h2 {
        font-size: 25px;
        padding: 0 0 10px;
      }
      .field--name-body {
        .made-with {
          span {
            color: red;
          }
        }
      }
      .field--type-image {
        .field--item {
          img {
            margin: 0 auto;
          }
        }
      }
    }
    nav {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      ul.navbar-nav {
        float: none;
        li {
          float: none;
          a {
            padding: 8px 0;
          }
        }
      }
    }
    .block-social-media-links {
      margin-bottom: 20px;
    }
  }
}
