// Base typography for WiDS Pune 2019 theme used site-wide as per style guide.
body {
  font-family: 'Actor';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
}
h1, h2, h3, h4, h5 {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-size: 30px;
  color: $darktextcolor;
}

a, a:hover, a:focus, a:active {
  color: $basetextcolor;
  text-decoration: none;
}

h1.page-header {
  color: $basetextcolor;
  font-size: 50px;
}

h2.block-title {
  color: $basetextcolor;
  font-size: 30px;
  text-align: center;
  @media (min-width: $screen-lg-min) {
    font-size: 50px;
    text-align: left;
    margin: 10px 0;
  }
}

.main-container {
  max-width: $default-max-width;
  margin: 30px auto 30px;
  .row {
    margin: 0 20px;
  }
}

.navbar {
  margin-bottom: 0;
  border: none;
  background-color: transparent;
  max-width: $default-max-width;
  .navbar-collapse {
    width: 100%;
    padding: 0;
    .region-navigation-collapsible {
      nav {
        float: right;
        padding: 25px 0px;
        ul {
          li {
            a {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 700;
              padding: 15px 20px;
              font-size: 13px;
              text-transform: uppercase;
              line-height: 1;
              letter-spacing: 0.05em;
            }
          }
        }
      }
    }
  }
}

.footer {
  background-color: $footercolor;
  margin-top: 0;
  .footer_container {
    display: flex;
    max-width: $default-max-width;
    margin: 0 auto;
    .footer-section.footer_center {
      flex: 2;
    }
    .footer-section {
      flex: 1;
      text-align: center;
      vertical-align: middle;
      h2 {
        font-size: 25px;
        padding: 0 0 10px;
      }
      .field--name-body {
        span {
          color: red;
        }
      }
      .field--type-image {
        .field--item {
          img {
            margin: 0 auto;
          }
        }
      }
      nav {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        ul.navbar-nav {
          float: none;
          li {
            float: none;
            a {
              padding: 8px 0;
            }
          }
        }
      }
      .block-social-media-links {
        margin-bottom: 20px;
      }
    }
    .small_font {
      font-size: 14px;
    }
  }
}

.content_bottom {
  .region-content-bottom {
    text-align: center;
    .field--type-image {
      .field--item {
        display: inline-block;
        padding: 0 20px;
        img {
          margin: 0 auto;
        }
      }
    }
  }
}

