// Base typography for WiDS Pune 2019 theme used site-wide as per style guide.
body {
  font-family: 'Actor';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
}
h1, h2, h3, h4, h5 {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-size: 30px;
  color: $darktextcolor;
  padding: 10px 0;
  @media (min-width: $screen-lg-min) {
    padding: 20px 0;
  }
}

a, a:hover, a:focus, a:active {
  color: $basetextcolor;
  text-decoration: none;
}

h1.page-header {
  color: $basetextcolor;
  font-size: 50px;
}

h2.block-title {
  color: $basetextcolor;
  font-size: 30px;
  text-align: center;
  @media (min-width: $screen-lg-min) {
    font-size: 50px;
    text-align: left;
    margin: 10px 0;
  }
}

.main-container {
  //max-width: $default-max-width;
  margin: 30px auto 30px;
  .row {
    margin: 0 20px;
  }
}

.region-content {
  form {
    max-width: $forms_max_width;
    margin: 20px auto 0;
    padding: 20px;
    border: 1px solid $basetextcolor;
    box-shadow: 0 0 6px $light-border;
  }
}

.navbar {
  margin-bottom: 0;
  border: none;
  background-color: transparent;
  max-width: $default-max-width;
  .navbar-header {
    width: 100%;
    padding: 0;
    .region-navigation {
      nav {
        @media (max-width: $screen-sm-min) {
          padding: 0;
          ul {
            margin: 0;
            li {
              display: inline-block !important;
              a {
                padding: 10px 15px !important;
              }
            }
          }
        }
        float: right;
        padding: 25px 0;
        ul {
          li {
            a {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 700;
              padding: 15px 20px;
              font-size: 13px;
              text-transform: uppercase;
              line-height: 1;
              letter-spacing: 0.05em;
              color: $darktextcolor;
            }
          }
        }
      }
      .block-superfish {
        float: right;
        padding: 25px 0px;
        width: auto;
        @media (max-width: $screen-sm-min) {
          float: none;
          margin-left: 20px;
        }
        .sf-accordion-toggle {
          a:before {
            content: "\f0c9";
          }
          a {
            border: 1px solid #ddd;
            border-radius: 4px;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            padding: 8px 12px;
            font-size: 20px;
            span {
              display: none;
            }
          }
        }
         ul {
          li {
            a {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 700;
              padding: 15px 20px;
              font-size: 13px;
              text-transform: uppercase;
              line-height: 1;
              letter-spacing: 0.05em;
              color: $darktextcolor;
              .sf-sub-indicator {
                font-size: 9px;
                width: 8px;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  background-color: $footercolor;
  margin-top: 0;
  .footer_container {
    display: flex;
    max-width: $default-max-width;
    margin: 0 auto;
    .footer-section.footer_center {
      flex: 2;
    }
    .footer-section {
      flex: 1;
      text-align: center;
      vertical-align: middle;
      h2 {
        font-size: 25px;
        padding: 0 0 10px;
      }
      .field--name-body {
        span {
          color: red;
        }
      }
      .field--type-image {
        .field--item {
          img {
            margin: 0 auto;
          }
        }
      }
      nav {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        ul.navbar-nav {
          float: none;
          li {
            float: none;
            a {
              padding: 8px 0;
            }
          }
        }
      }
      .block-social-media-links {
        margin-bottom: 20px;
      }
    }
    .small_font {
      font-size: 14px;
    }
  }
}

.content_bottom {
  .region-content-bottom {
    text-align: center;
    .field--type-image {
      .field--item {
        display: inline-block;
        padding: 0 20px;
        img {
          margin: 0 auto;
        }
      }
    }
  }
  #block-sectors {
    max-width: $default-max-width;
    margin: 0 auto;
    h2.block-title {
      color: $darktextcolor;
      text-align: center;
      font-size: 30px;
    }
  }

  #block-wids-audience-profile-2 {
    h2.block-title {
      color: $darktextcolor;
      text-align: center;
      font-size: 30px;
    }
    img {
      width: 70px;
      height: auto;
      margin: 0 auto;
    }
    .field--name-field-column-content {
      .paragraph--view-mode--six-column-display {
        .field {
          text-align: center;
          margin: 20px 0;
        }
      }
    }
  }
}

// Styles for sponsor page
.path-sponsors {
  .main-container {
    h1.page-title {
      margin: 10px 0 30px;
    }
    .row {
      text-align: center;
      .view-sponsor-list {
        max-width: $default-max-width;
        margin: 0 auto;
        .view-content {
          h3 {
            margin: 25px 0px;
          }
          .views-row {
            display: inline-block;
            margin: 10px 0;
            .views-field {
              display: inline-block;
              .field-content {
                padding: 0 10px;
                img {}
              }
            }
          }
        }
      }
    }
  }
}

.box-shadow {
  margin: 20px 0;
  border-radius: 6px;
}

@mixin superfish-user-account-blocks {
  background-color: $basetextcolor;
  border-color: $basetextcolor;
  text-shadow: 1px 1px 0 $boxshadow;
  a {
    color: $lightcolor;
  }
}

ul#superfish-account {
  li {
    @include superfish-user-account-blocks;
  }
}

ul#superfish-user-login {
  li {
    @include superfish-user-account-blocks;
    border-radius: 5px;
  }
}

