.page-node-type-session {
  .main-container {
    margin: 0;
    padding: 0;
    .row {
      margin: 0;
      .col-sm-12 {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.page-container {
  .green-bg {
    background: $basetextcolor;
    padding-bottom: 20px;
    .header-content {
      max-width: $default-max-width;
      margin: 0px auto;
      padding: 10px 20px;
      text-align: center;
      color: $lightcolor;
      h2 {
        color: $lightcolor;
        font-size: 36px;
        margin: 30px 0;
      }
    }
  }
  .photo-gallery {
    max-width: $default-max-width;
    margin: 0 auto;
    h2.heading {
      margin: 30px 0;
      color: $basetextcolor;
      font-size: 30px;
      text-align: center;
    }
    .field--items {
      .field--item {
        margin: 15px 0;
        img {
          box-shadow: 0px 0px 8px 0px $gallery-boxshadow;
          border: 1px solid $lightcolor;
        }
      }
    }
  }
  .event-speakers {
    background: $event-speakers-back;
    padding: 30px 0;
    clear: both;
    .border-bottom {
      border-bottom: 1px solid $speakers-border;
    }
    .row {
      max-width: $default-max-width;
      margin: 0 auto;
      padding: 20px 0;
       .founder-info {
        img {
          max-width: 160px;
          margin: 0 auto;
          border-radius: 6px;
        }
        h4 {}
        p {}
      }
    }
  }
  .other-information {
    .row {
      max-width: $default-max-width;
      margin: 20px auto;
      padding: 20px ;
      .location-outer {
        border-right: 1px solid $light-border;
        padding: 25px 0;
        .field {
          font-weight: 600;
          font-family: 'Poppins', sans-serif;
          line-height: 1.5;
        }
        .icon {
          font-size: 0;
          width: 70px;
          height: 67px;
          display: block;
          background-size: cover;
        }
        .event-date {
          background-image: url(../images/dateandtime-icon1.png);
          margin: 0 auto;
        }
        .location-icon {
          background-image: url(../images/location-icon.png);
          margin: 0 auto;
        }
        .event-logos {
          margin-top: 25px;
          text-align: center;
          .logos {
            width: 130px;
            margin: 25px 20px 10px 0px;
            display: inline-block;
            //float: left;
            box-shadow: 0 0 6px $logo-boxshadow;
            height: 70px;
          }
        }
      }
      .agenda-section {
        .field--label {
          color: $basetextcolor;
          font-size: 30px;
          padding-left: 25px;
        }
        .field--item {
          ul {
            list-style-type: none !important;
            li {
              margin: 15px 0 15px 10px;
              position: relative;
              line-height: 1.5;
            }
            li:before {
              display: block;
              content: " ";
              float: left;
              width: 0;
              height: 0;
              border-color: transparent;
              border-style: solid;
              border-width: 6px 0 6px 6px;
              border-left-color: $basetextcolor;
              margin-top: 5px;
              margin-left: -15px;
            }
          }
        }
      }
    }
  }
}
