.path-frontpage {

  .main-container {
    .row {
      .view-frontpage {
        display: none;
        margin: 20px;
        .views-row {
          .content {
            background-color: $basetextcolor;
            color: $lightcolor;
            padding: 20px;
            a, a:hover, a:active {
              color: $lightcolor;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  #block-widspune20-aboutus {
    padding-right: 30px;
    h2 {
      color: $basetextcolor;
      font-size: 72px;
    }
    .field {
      background-color: $basetextcolor;
      color: $lightcolor;
      padding: 20px;
      p{
        margin: 0 0 20px;
        line-height: 1.7;
        a, a:hover, a:active {
          color: $lightcolor;
          text-decoration: none;
        }
      }
      .about_ambassador {
        .img {
          display: inline-block;
          span {
            display: block;
            text-align: center;
            color: $lightcolor;
          }
        }
        .info {
          display: inline-block;
          width: 70%;
          vertical-align: top;
          padding-left: 30px;
        }
      }
      .row {
        text-align: center;
        font-size: 20px;
        .social_icon {
          padding: 0 3px;
          a, a:hover, a:active {
            color: #000;
            text-decoration: none;
          }
        }
      }
    }
  }

  #block-frontpageregistrationblock {
    text-align: center;
    padding-top: 20px;
    .field--type-image {
      margin: 0 auto;
      max-width: 250px;
    }
    .field--name-body {
      color: $basetextcolor;
      font-weight: 700;
      font-size: 30px;
    }
  }

  #block-widspune20-globalwids2019 {
    height: 450px;
    background: url(../images/counter_background.jpg) 50% 50% no-repeat;
    background-size: cover;
    color: $lightcolor;
    margin: 40px 0;
    font-family: 'News Cycle';
    h2 {
      font-size: 72px;
      color: $lightcolor;
      padding: 35px;
    }
    .counter_outer {
      max-width: $default-max-width;
      margin: 0 auto;
      .counter {
        width: 30%;
        display: inline-block;
        font-size: 25px;
        line-height: 50px;
        .title {
        }
        .mid {
          font-family: 'Actor';
          font-size: 18px;
        }
        .counter_number {
          .count {
            font-size: 70px;
          }
        }
      }
    }
  }

  .block-views-blocksponsor-list-block-1 {
    h2 {
      color: $darktextcolor;
      font-size: 34px;
      text-align: center;
    }
    .view-sponsor-list {
      max-width: $default-max-width;
      margin: 0 auto;
      .views-row {
        display: inline-block;
        .views-field {
          display: inline-block;
          .field-content {
            padding: 0 10px;
            img {}
          }
        }
      }
    }
  }


  #block-highlightsofourpastconferencein2019 {
    background-color: $basetextcolor;
    padding: 5px 0 20px;
    h2 {
      color: $lightcolor;
      font-size: 34px;
      text-align: center;
    }
  }

  .metrics-wrapper {
    .metrics-content {
      .metrics_info {
        padding-top: 30px;
        .metrics {
          display: inline-block;
          padding: 0 35px;
          vertical-align: top;
          span {
          }
          .img {
            width: 72px;
            display: block;
            height: 67px;
            margin: 0 auto;
          }
          .title {
          }
          .field--item {
          }
        }
        .knowledge_sharing_info {
          .img {
            background: url(../images/knowledge_sharing.png) no-repeat;
          }
        }
        .speakers_info {
          .img {
            background: url(../images/speakers.png) no-repeat;
          }
        }
        .audience_info {
          .img {
            background: url(../images/audience.png) no-repeat;
          }
        }
        .partners_info {
          .img {
            background: url(../images/partners.png) no-repeat;
          }
        }
        .volunteers_info {
          .img {
            background: url(../images/volunteers.png) no-repeat;
          }
        }
        .sectors_info {
          .img {
            background: url(../images/sectors.png) no-repeat;
          }
        }
      }
    }
  }

  .extra_metrics_outer {
    .metrics_info {
      display: inline-block;
      max-width: 150px;
      vertical-align: top;
      margin: 0 30px;
      .img {
        width: 72px;
        display: block;
        height: 67px;
        background-size: cover;
        font-size: 0;
        margin: 0 auto;
      }
      .title {
        color: $basetextcolor;
      }
    }
    .media_coverage {
      .img {
        background-image: url(../images/media_coverage.png);
      }
    }
    .delegates_from {
      .img {
        background-image: url(../images/orginisers.png);
      }
    }
  }

  //.block-views-blocktestimonials-list-block-testimonials {
  //  background-color: $basetextcolor;
  //  padding: 5px 0 20px;
  //}
  .block-views-blocktestimonials-list-block-1 {
    background: $basetextcolor;
    box-shadow: 0 4px 6px $boxshadow, 0 4px 6px $boxshadow;
    box-sizing: border-box;
    .view-testimonials-list {
      max-width: $default-max-width;
      margin: 0 auto;
      color: $lightcolor;
      .view-content {
        margin: 20px;
        text-align: left;
        .views_slideshow_cycle_slide {
          padding: 20px 50px;
          font-weight: bold;
          font-size: larger;
          .views-row {
            text-align: justify;
            color: $lightcolor;
            position: relative;
            overflow: hidden;
            min-height: 120px;

            .views-field-body {
              line-height: 1.5;
              margin: 0;
              max-width: 88%;
            }
            .views-field-field-from-unregisted-user {
              margin-top: 10px;
              display: block;
              font-weight: 200;
              opacity: 0.8;
            }
          }
        }
      }
      .view-content:before {
        font-family: Georgia, serif;
        content: "“";
        position: absolute;
        left: 20px;
        font-size: 5em;
        color: $quotecolor;
        font-weight: normal;
      }
      .view-content:after {
        font-family: Georgia, serif;
        content: "”";
        position: absolute;
        line-height: 100px;
        right: 10px;
        font-size: 25em;
        color: $quotecolor;
        font-weight: normal;
      }
    }
  }

  .block-views-blockmedia-clippings-list-block-1 {
    max-width: $default-max-width;
    margin: 0 auto;
  }
}
