.video-gallery {
  h3 {
    text-align: center;
    color: $basetextcolor;
  }
  .page-header {
    text-align: center;
    margin: 0px 0 20px;
  }

  .video-info {
    border: 1px solid #ccc;
    box-shadow: 0 0 6px #ccc;

    p {
      margin: 0;
      font-size: 14px;
      padding: 0 5px 5px;
      font-weight:500
    }
  }
  .other-filed{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 4px;
  }
}

