.wids-calendar {
  max-width: $default-max-width;
  margin: 0 auto;
  h1.page-header {
    margin-top: 0px;
  }
  b, strong {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  .calendar-info {
    border: 3px solid #ccc;
    margin: 15px 10px;
    box-shadow: 3px 3px 6px #ccc;
    border-radius: 8px;
    .calendar-data {
      padding: 20px;
      h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: $basetextcolor;
        span {
          color: #333;
          display: inline-block;
          font-size: 15px;
          font-weight:600;
        }
        a {
          color: $basetextcolor;
        }
      }
      a {
        display: inline;
        font-size: 15px;
        color: #337ab7;
        text-decoration: none;
        padding: 0;
      }
      p {
        color: #333;
      }
      .btn-rsvp, .btn-Cancel {
        background-color: $basetextcolor;
        border: 2px solid $basetextcolor;
        color: $lightcolor;
        outline:none;
        margin-top:20px;
        &:hover {
          background-color: $lightcolor;
          border: 2px solid $basetextcolor;
          color: $basetextcolor;
          transition: 0.5s;
        }
      }
    }
  }
}
