.wids20-user-list {
  max-width: $default-max-width;
  margin: 0 auto;
  .volunteers-info {
    border: 3px solid #ccc;
    margin: 15px 10px;
    box-shadow: 3px 3px 6px #ccc;
    border-radius: 8px;
    .user-caption {
      text-align: center;
      a {
        //margin: 5px 0 15px;
        //padding: 4px 10px;
        display: inline-block;
        font-size: 18px;
        color: #337ab7;
        text-decoration: underline;
      }
      .speakers-img {
        img {
          width: 150px;
          margin: 6px auto;
          height: 150px;
          object-fit: cover;
        }
      }
      span {
        display: block;
        font-size: 13px;
        margin: 2px 0;
      }
    }
  }
}
